.App {
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 17.5vw 37.5vw 37.5vw;
  grid-template-rows: 60vh min-content;
  column-gap: 10px;
  row-gap: 10px;
  min-height: 100vh;
  padding: 5vh 3.75vw;
  gap: 10px;
}
